<div class="new-song">
    {{#if error}}
        <div class="alert alert-danger">Error adding song. Please try again.</div>
    {{/if}}
    {{#if result}}
        <p>Gooooood</p>
        {{#each tracks}}
            console.log(name);
            <p>{{name}}</p>
        {{/each}}
    {{else}}
        <form {{action "search" on="submit"}}>
            <div class="form-group">
                {{input value=search type="text" class="form-control input-lg" placeholder="Search for Song"}}
            </div>

            <div class="form-group">
                {{view Ember.Select 
                    content=searchOptions value=selectedSearchOption class="form-control input-lg"}}
            </div>

            <button type="submit" class="btn btn-success btn-block btn-lg" {{bind-attr disabled="adding"}}>Search</button>
        </form>
    {{/if}}
</div>