<div class="new-song">
    <div class="alert alert-info header">Add a song to the queue.</div>
    {{#if error}}
        <div class="alert alert-danger">Error adding song. Please try again.</div>
    {{/if}}
    <form {{action "create" on="submit"}}>
        <div class="form-group">
            {{input value=name type="text" class="form-control input-lg" placeholder="Song Name"}}
        </div>

        <div class="form-group">
            {{input value=artist type="text" class="form-control input-lg" placeholder="Artist Name"}}
        </div>

        <div class="form-group">
            {{input value=album type="text" class="form-control input-lg" placeholder="Album Name"}}
        </div>

        <button type="submit" class="btn btn-success btn-block btn-lg" {{bind-attr disabled="adding"}}>Add Song</button>
    </form>
</div>