<div class="queue has-tab-bar">
    <ul class="song-list">
        {{#each controller}}
            <li>
                <img class="album-art pull-left" {{bind-attr src=img}} />
                <div class="info pull-left">
                    <span class="name">{{name}}</span>
                    <span class="artist">{{artist}}</span>
                    <span class="album">{{album}}</span>
                </div>
                <button class="btn btn-success pull-right" {{action "upvote" this}}>
                    Upvote: {{score}}
                </button>
            </li>
        {{/each}}
    </ul>
</div>

{{render "tab-bar"}}